.header__navigation {
  @include media-width-for-burger {
    display: none;
  }
}

.navigation-list {
  display: flex;
}

.navigation-item {
  @include font($size: 1.2rem, $height: 1.6rem);
  text-transform: uppercase;
  margin-right: 8px;
  padding: 12px 20px;
  cursor: pointer;

  a {
    color: #181c29;
  }

  &:last-child {
    margin-right: 0;
  }
  transition: $transition-background;

  &:hover {
    background-color: $color-background_hover;
    border-radius: 12px;

    a {
      transition: $transition-color;
      color: $color-primary;
    }
  }

  @include media-mobile {
    &:hover {
      background-color: transparent;
      cursor: inherit;
      a {
        color: $color-additional;
        cursor: inherit;
      }
    }
  }
}

.nav-active {
  background-color: $color-background_hover;
  border-radius: 12px;

  pointer-events: none;

  a {
    color: $color-primary;
  }
}
